<div class="container">
  <div class="row">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>投稿ID</th>
          <th>投稿日時</th>
          <th>内容</th>
          <th>タグ</th>
        </tr>
      </thead>
      <% @reports.each do |reports| %>
      <tbody>
        <tr>
          <td><%= reports.id %></td>
          <td><%= l reports.created_at %></td>
          <td><%= link_to reports.introduction, admin_report_path(reports.id) %></td>
          <% reports.tags.each do |tag| %>
            <td><%= tag.name %></td>
          <% end %>
          <td>
            <% if reports.is_finished == false %>
              未対応
            <% else %>
              この案件は対応済です。
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>