<% visiter = notification.visiter %>
<% report = notification.report %>

<ul>
    <li><strong><%=visiter.name %></strong>さんが新規投稿しました
    <strong><%= link_to report_path(notification.report_id) do %><%= report.introduction.truncate(20)%><% end %></strong>
    <%= " (#{time_ago_in_words(notification.created_at)} 前)" %></li>

</ul>
