<div class="container mt-3">

  <div class="row">
    <div class="col">
      <h4>会員一覧</h4>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-10 mx-auto">
      <table class="table table-hover">
        <thead class="table-secondary">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customers| %>
        <tbody>
          <tr>
            <td><%= customers.id %></td>
            <td><%= link_to customers.name, admin_customer_path(customers.id) %></td>
            <td><%= customers.email %></td>
            <td>
              <% if customers.is_deleted == false %>
                <h6 class="text-success">有効</h6>
              <% else %>
                <h6 class="text-danger">退会</h6>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>

      </table>
    </div>
  </div>
</div>



