/*-----トップページ背景----------------------------------------------------------------------------*/
.background {
  height: 700px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('top-page.png');
  background-size: cover;
  color: white;
  background-position: center;
}
/*-----ここまで------------------------------------------------------------------------------------*/

.check_box {
  display: flex;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}

/*-----フラッシュメッセージ------------------------------------------------------------------------*/
.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}
/*-----ここまで-------------------------------------------------------------------------------------*/

/*-----投稿画像の縦横比-----------------------------------------------------------------------------*/
.image-cover{
  object-fit: cover;
}
/*-----ここまで-------------------------------------------------------------------------------------*/